<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Welcome Back!</h3>
                <hr class="login-hr">
                <div class="box">
                    <form>
                        <p>Username</p>
                        <div class="field">
                            <div class="control" id="username-div">
                                <input class="input is-large" type="text" placeholder="Username" autofocus="" id="user-name">
                            </div>
                        </div>
                        <p>Password</p>
                        <div class="field">
                            <div class="control" id="password-div">
                                <input class="input is-large" type="password" placeholder="Password" id="password">
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" id="login-btn">Login<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </form>
                </div>
                <p class="has-text-white">
                <a style="color:rgb(94, 40, 255);font-weight:bold" href="/signup">New Here?  Click to Sign-up Instead</a>
                </p>
                <p>--------------------</p>
                <p>
                    <a style="color:rgb(255, 0, 0);font-weight:bold" href="/">Home Page</a>
                </p>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>
