<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Welcome!</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Please enter your signup information below</p>
                <div class="box">
                    <form>
                        <p>Enter a unique username</p>
                        <div class="field">
                            <div class="control" id="username-div">
                                <input class="input is-large" type="text" placeholder="Username" autofocus="" id="signup-username">
                            </div>
                        </div>
                        <p style="color:blue;font-weight:bold"><a href="https://estee3.github.io/Password-Generator/" target="_blank">Click to create a password</a></p>
                        <p>Password must be 10 characters in lenght</p>
                        <div class="field">
                            <div class="control" id="password-div">
                                <input class="input is-large" type="password" placeholder="10-Character Password" id="signup-password">
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth" id="signup-btn">Signup <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </form>
                </div>
                <p>
                    <a style="color:rgb(21, 255, 0);font-weight:bold" href="/login">Click here to Login Instead</a>
                </p>
                <p>--------------------</p>
                <p>
                    <a style="color:rgb(255, 0, 0);font-weight:bold" href="/">Home Page</a>
                </p>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/js/signup.js"></script>
